
body {
	font-family:'Kumbh Sans', sans-serif;
}


header {
	background-color: #f2f2f2;
	padding: 20px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 110px;
	height:80px;
	margin-right: 10px;
}


main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	margin-top: 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-section {
	flex-basis: 100%;
	margin-bottom: 30px;
}

h2 {
	margin-top: 0;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input,
select {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
}

select option {
	color: #555;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}

th,
td {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
}

tfoot th {
	text-align: right;
}

tfoot td {
	font-weight: bold;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
